<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>absolutePosition</key>
    <true/>
    <key>angle</key>
    <integer>360</integer>
    <key>angleVariance</key>
    <integer>360</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>1</integer>
    <key>configName</key>
    <string>par_common_circle</string>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>1</integer>
    <key>finishColorBlue</key>
    <real>0.9370972514152527</real>
    <key>finishColorGreen</key>
    <real>0.25116246938705444</real>
    <key>finishColorRed</key>
    <real>0.59952712059021</real>
    <key>finishColorVarianceAlpha</key>
    <real>0.8093332052230835</real>
    <key>finishColorVarianceBlue</key>
    <real>0.9800000000000001</real>
    <key>finishColorVarianceGreen</key>
    <real>0.9800000000000001</real>
    <key>finishColorVarianceRed</key>
    <real>0.42000000000000004</real>
    <key>finishParticleSize</key>
    <real>4.5020575523376465</real>
    <key>finishParticleSizeVariance</key>
    <real>1.8353909254074097</real>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>61</integer>
    <key>maxRadius</key>
    <integer>110</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>100</integer>
    <key>minRadiusVariance</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>0.46049999999999996</real>
    <key>particleLifespanVariance</key>
    <real>1.3816</real>
    <key>positionType</key>
    <integer>1</integer>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <real>-36.522705078125</real>
    <key>rotatePerSecond</key>
    <integer>100</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <real>-47.37</real>
    <key>rotationEndVariance</key>
    <real>-142.10999999999999</real>
    <key>rotationStart</key>
    <real>-47.37</real>
    <key>rotationStartVariance</key>
    <real>-47.37</real>
    <key>sourcePositionVariancex</key>
    <integer>0</integer>
    <key>sourcePositionVariancey</key>
    <integer>7</integer>
    <key>sourcePositionx</key>
    <integer>160</integer>
    <key>sourcePositiony</key>
    <integer>240</integer>
    <key>speed</key>
    <integer>0</integer>
    <key>speedVariance</key>
    <integer>0</integer>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <real>0.9613001942634583</real>
    <key>startColorGreen</key>
    <real>0.9905828833580017</real>
    <key>startColorRed</key>
    <integer>1</integer>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <real>0.06979809701442719</real>
    <key>startColorVarianceGreen</key>
    <real>0.038226593285799026</real>
    <key>startColorVarianceRed</key>
    <real>0.056938011199235916</real>
    <key>startParticleSize</key>
    <real>26.518518447875977</real>
    <key>startParticleSizeVariance</key>
    <real>18.22222137451172</real>
    <key>tangentialAccelVariance</key>
    <real>-50.0257568359375</real>
    <key>tangentialAcceleration</key>
    <integer>50</integer>
    <key>yCoordFlipped</key>
    <integer>1</integer>
  </dict>
</plist>